.myNav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px;
    background-color: #a5a4a4;
}

.myNav a{
    text-decoration: none;
}

.logo-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-left: 20px;
}

.logo-container img{
    padding-top: 18px;
    width: 40px;
    height: 40px;
}

.siteName{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
  
.botonera{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 1;
}

.category{
    display: flex;
    margin: 0px 2px;
    font-size: large;
    font-weight: bold;
    padding: 0px 13px;
    color: #000000;
    text-decoration: none;
}

.category:hover{
    color: #d82000;
}

.current-category{
    display: flex;
    margin: 0px 2px;
    font-size: large;
    font-weight: bold;
    padding: 0px 13px;
    text-decoration: none;
    color: #d82000;
}

.shoppingCart-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-right: 20px;
}

.shoppingCart-hidden{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-right: 20px;
    visibility: hidden;
}

.shoppingCart{
    display: flex;
    width: 40px;
    height: 40px;
    text-align: right;
}

.itemsInCart{
    display: flex;
    background-color: #d82000;
    border-radius: 100%;
    color:#fdf5ec;
    justify-content: space-around;
    align-items: center;
    width: 21px;
    height: 21px;
    font-size: small;
}