.myNav{
    padding: 15px;
    background-color: #a5a4a4;
}

.myNav a{
    text-decoration: none;
}

.logoContainer{
    margin-left: 20px;
}

.logoContainer img{
    padding-top: 18px;
    width: 40px;
    height: 40px;
}

.nombreSitio{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
  
.botonera{
    margin: auto;
    text-align: center;
}

.category{
    margin: 0px 2px;
    font-size: large;
    font-weight: bold;
    padding: 0px 13px;
    color: #000000;
    text-decoration: none;
}

.category:hover{
    color: #d82000;
}

.currentCategory{
    color: #d82000;
}

.shoppingCart{
    width: 40px;
    height: 40px;
    text-align: right;
    margin-right: 20px;
    padding: 0px 13px;
}